@import "../../assets/scss/variables";
@import "../common/css/base.scss";


.#{$prefix} {

  &-viewArticle-wrap {
    width: 100%;
    min-height: 100vh;
  }
&-index{


    &-banner{
    width: 100%;
    height: 50%;
    white-space: nowrap;
    display: flex;
    border: 2rpx;
  }
}
}
