{
  "extends": ["taro",  "ts-standard"],
  "rules": {
    "comma-dangle":2,
    "import/prefer-default-export":0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }]
  },
  "parser": "babel-eslint",
  "plugins": ["typescript"]
}
