/*
* @Author: devuser
* @Date:   2018-03-30 14:08:04
* @Last Modified by:   devuser
* @Last Modified time: 2018-03-30 14:34:05
*/

$grey-border: #bcbab6;  //常用于区块的border
$slider-color:    red;  //首页中滑动导航滑块的颜色
$light-color: #80bd01;  //选中状态 高亮状态
$page-bg:     #f4f4f4;  //用于一个页面的背景色


$time:            .2s;  // 一般用于transition 的时间


.index {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 2rpx;
  .search {
    width: 100%;
    box-sizing: border-box;
    padding: 0 25rpx 0 10rpx;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 80rpx;
    display: flex;
    align-items: center;
    background: #fff;

    div:nth-child(1) {
      width: 115rpx;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 20rpx;
      padding-right: 15rpx;
    }

    div:nth-child(2) {
      flex: 1;
      position: relative;

      input {
        width: 100%;
        height: 56rpx;
        border-radius: 8rpx;
        background: #ededed;
        box-sizing: border-box;
        padding-left: 40rpx;
      }

      .icon {
        position: absolute;
        top: 15rpx;
        left: 10rpx;
        background: url('http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png') center no-repeat;
        background-size: 100%;
        width: 28rpx;
        height: 28rpx;
        margin-right: 10rpx;
      }
    }
  }

  .swiper {
    width: 100%;
    height: 417rpx;
    margin-top: 80rpx;

    .swiper-container {
      width: 100%;
      height: 100%;

      .swiper-item {
        width: 100%;
        height: 100%;

        .slide-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .channel {
    display: flex;
    padding: 20rpx 0;
    background: #ffffff;

    div {
      width: 25%;
      text-align: center;

      img {
        height: 58rpx;
        width: 58rpx;
        display: inline-block;
      }
    }
  }

  .brand {
    width: 100%;
    margin-top: 20rpx;
    background: #ffffff;

    .head {
      text-align: center;
      padding: 40rpx 0;
    }

    .content {
      width: 730rpx;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      background: #fff;
      .article-subject {
        display: inline-flex;
        line-height: 20px;
        margin:0 20px;
        vertical-align: middle;
      }
      .article-content {
        display: inline-flex;
        line-height: 20px;
        margin:0 20px;
        vertical-align: middle;
      }
      .article-dateAdd {
        background: #fff;
        font-size: 30rpx;
        font-weight: bold;
      }
      .article-favcount {
        background: #fff;
        font-size: 30rpx;
        font-weight: bold;
      }
      .article-handupcount {
        background: #fff;
        font-size: 30rpx;
        font-weight: bold;
      }
      .article-handdowncount {
        background: #fff;
        font-size: 30rpx;
        font-weight: bold;
      }
      div {
        width: 730rpx;
        height: 235rpx;
        margin-bottom: 10rpx;
        position: relative;

        div {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10rpx;

          p:nth-child(2) {
            font-size: 24rpx;
          }
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .newgoods {
    .newgoods-top {
      margin-top: 20rpx;
      height: 260rpx;
      width: 100%;
      background: url('https://coms.boyosoft.net/gangxiaoer/gapi/v2/images/bgnew.png') no-repeat;
      background-size: 100% 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .top {
        p {
          color: #8c9bae;
          font-size: 32rpx;
        }

        p:nth-child(2) {
          width: 180rpx;
          height: 50rpx;
          line-height: 50rpx;
          margin: 27rpx auto 0 auto;
          font-size: 22rpx;
          background: #d8e4f0;
        }
      }
    }

    .list {
      margin-top: 20rpx;
      background: #fff;
      padding-bottom: 10rpx;

      ul {
        .scroll-view {
          width: 100%; // height: 470rpx; // display: flex;
          // flex-wrap: nowrap;
          white-space: nowrap;

          li {
            width: 280rpx;
            height: 416rpx;
            margin: 5rpx 0 5rpx 25rpx;
            display: inline-block;

            img {
              width: 280rpx;
              height: 280rpx;
            }

            p:nth-child(2) {
              font-size: 30rpx;
              font-weight: bold;
            }

            p:nth-child(3) {
              color: #8a8a8a;
              font-size: 24rpx;
            }

            p:nth-child(4) {
              color: #9c3232;
              font-size: 24rpx;
            }

            p {
              width: 94%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-top: 8rpx;
              text-indent: 1em;
            }
          }

          li:nth-child(n+2) {
            border-left: 1rpx solid #f4f4f4;
          }
        }
      }
    }
  }

  .hotgoods {
    .newgoods-top {
      background: url('/static/images/bgtopic.png') no-repeat;
      background-size: 100% 100%;

      .top {
        p {
          color: #b1a279;
          font-size: 32rpx;
          vertical-align: middle;
        }

        p:nth-child(1) {
          span {
            width: 4rpx;
            height: 4rpx;
            font-size: 14rpx;
            display: inline-block;
            vertical-align: middle;
            background: #b1a279;
          }
        }

        p:nth-child(2) {
          background: #f4e9cb;
        }
      }
    }
  }

  .topicList {
    margin-top: 20rpx;
    background: #fff;

    .topicList-top {
      text-align: center;
      padding: 36rpx;
      vertical-align: middle;

      .icon {
        display: inline-block;
        width: 32rpx;
        height: 32rpx;
        margin-left: 5rpx;
        background: url('/static//images/right.png') no-repeat;
        background-size: 100% 100%;
        vertical-align: middle;
      }
    }

    .list {
      .scroll-view {
        white-space: nowrap;

        li {
          display: inline-block;
          width: 575rpx;
          margin-left: 25rpx;

          img {
            display: block;
            width: 575rpx;
            height: 325rpx;
            border-radius: 10rpx;
          }

          .btom {
            display: flex;
            justify-content: space-between;
            margin-bottom: 42rpx;
            width: 100%;

            div:nth-child(1) {
              width: 90%;

              p {
                margin-top: 8rpx;
              }

              p:nth-child(1) {
                font-size: 30rpx;
                font-weight: bold;
              }

              p:nth-child(2) {
                width: 90%;
                color: #8a8a8a;
                font-size: 24rpx;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }

            div:nth-child(2) {
              margin-top: 8rpx;
              color: #9c3232;
              font-size: 24rpx;
            }
          }
        }

        li:last-child {
          margin-right: 25rpx;
        }
      }
    }
  }

  .newcategory {
    margin-top: 20rpx;
    padding: 0 10rpx 25rpx 10rpx;

    .head {
      padding: 25rpx 0;
      text-align: center;
    }

    .sublist {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 730rpx;
      margin: 0 auto;

      div {
        width: 360rpx;
        background: #fff;
        margin-bottom: 10rpx;
        padding-bottom: 10rpx;

        img {
          display: block;
          width: 302rpx;
          height: 302rpx;
          margin: 0 auto;
        }

        p {
          margin-bottom: 5rpx;
          text-indent: 1em;
        }

        p:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 98%;
        }

        p:nth-child(3) {
          color: #9c3232;
        }
      }

      .last {
        display: block;
        width: 302rpx;
        height: 302rpx;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        p {
          height: 33rpx;
          width: 100%;
          line-height: 33rpx;
          color: #333;
          font-size: 33rpx;
          text-align: center;
        }

        .icon {
          display: inline-block;
          width: 70rpx;
          height: 70rpx;
          background: url('https://coms.boyosoft.net/gangxiaoer/gapi/v2/images/rightbig.png') no-repeat;
          background-size: 100% 100%;
          margin-top: 60rpx;
        }
      }

      div:nth-child(2n) {
        margin-left: 10rpx;
      }
    }
  }
}


.container {
  background-color: #F2f2f2;
  min-height: 100%;
}
.swiper-container{
  width: 750rpx;
  position: relative;
}
.swiper_box {
  width: 100%;
  height:562.5rpx;
}

swiper-item image {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height:562.5rpx;
}
.swiper-container .dots{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20rpx;
  display: flex;
  justify-content: center;
}
.swiper-container .dots .dot{
  margin: 0 8rpx;
  width: 14rpx;
  height: 14rpx;
  background: #fff;
  border-radius: 50%;
  transition: all .6s;
  opacity: .5;
}
.swiper-container .dots .dot.active{
  width: 14rpx;
  opacity: 1;
}

.type-navbar{
  white-space: nowrap;
  height: 88rpx;
  width: 100%;
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
.type-box{
  width:160rpx;
  box-sizing: content-box;
  font-size: 24rpx;
  line-height: 84rpx;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}
.type-navbar-item{
  border-bottom: 4rpx solid #fff;
}
.type-item-on{
  border-bottom: 4rpx solid #e64340;
}

.goods-container{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  box-sizing: content-box;
  padding: 24rpx;
}
.goods-box{
  width: 339rpx;
  height: 472rpx;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 24rpx;
}
.goods-box .img-box{
  width: 339rpx;
  height: 339rpx;
  overflow: hidden;
}
.goods-box .img-box image{
   width: 339rpx;
   height: 339rpx;
}
.goods-box .goods-title{
  width: 280rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24rpx;
  padding: 24rpx 0 0rpx 0;
  color:#000;
  margin-left: 24rpx;
}
.goods-box .goods-price{
  width: 280rpx;
  overflow: hidden;
  font-size: 24rpx;
  padding: 24rpx 0;
  color:#e64340;
  margin-left: 24rpx;
}
.no-more-goods{
  text-align: center;
  font-size: 24rpx;
  padding-bottom:48rpx;
  color: #999;
}
.type-container{
  width: 100%;
  height: 88rpx;
  background-color: #fff;
  overflow: hidden;
}
.notice{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  height: 80rpx;
  line-height: 80rpx;
  width: 750rpx;
  margin-top: 10rpx;
  background-color: #fff;
}
.notice_swiper{
  padding-top: 15rpx;
  padding-bottom: 15rpx;
  height: 50rpx;
  line-height: 50rpx;
  width: 635rpx;
}
.notice_iteml {
  padding-left: 25rpx;
  padding-top: 15rpx;
  padding-bottom: 15rpx;
  font-size: 26rpx;
  width: 80rpx;
  height: 50rpx;
  line-height: 50rpx;
  color: #999;
}
.notice_itemr {
  padding-left: 10rpx;
  font-size: 26rpx;
  overflow: hidden;
  color: #e64340;
  width: 635rpx;
  height: 50rpx;
  line-height: 50rpx;
}
.pos-fiexd{
  position: fixed;
  top: 0;
  left: 0;
}
.coupons{
  margin-top:10rpx;
  width: 100%;
  height: 180rpx;
  overflow: hidden;
}
.coupons-scroll{
  white-space: nowrap;
  height: 180rpx;
  width: 100%;
  background-color: #fff;
}
.coupons-item{
  width:300rpx;
  height: 180rpx;
  margin: 10rpx;
  padding-top: 20rpx;
  padding-left: 15rpx;
  background-color: #f1a83b;
  box-sizing: content-box;
  font-size: 20rpx;
  line-height: 35rpx;
  overflow: hidden;
  color: #fff;
  display: inline-block;
}

.search-view{
  position:fixed;
  left:0;
  right:0;
  top:0;
  z-index:500;
  width: 100%;
  height: 100rpx;
  background: gray;
  display: flex;
  flex-direction: column;
}
.search-content{
   background: white;
   width:650rpx;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-top: auto;
   padding-left: 20rpx;
   padding-bottom: auto;
   margin: auto;
   height: 70rpx;
   border-radius:5px 5px;
}
.search-icon{
  width: 40rpx;
  height: 40rpx;
  margin-right: 20rpx;
}
.search-input{
  width: 500rpx;
  font-size: 28rpx;
}
.search-btn{
  width: 150rpx;
  height: 70rpx;
  margin-right: 0rpx;
  background-color:blueviolet;
  font-size: 28rpx;
  align-items: center;
  border-top-left-radius: 0rpx;
  border-bottom-left-radius: 0rpx;
  color:#fff;
  border:none;
  position: relative;
}
page {
  background: #f6f7f8;
}

.question-form {
  margin: 25rpx;
}

.question-input-area {
  background-color: #fff;
  border: 1rpx solid #f2f2f2;
  border-radius: 4rpx;
}

.question-title-wrap {
  display: flex;
  align-items: center;
  border-bottom: 1rpx solid #ccc;
  margin: 10rpx 30rpx;
  padding: 20rpx 0;
}

.question-title {
  flex: 1;
}

.weui-textarea-counter, .title-input-counter {
  color: #b3b3b3;
  font-size: 14px;
  padding-left: 10rpx;
}

.weui-cell::before, .weui-cells::before, .weui-cell::after, .weui-cells::after {
  border: none;
}

.question-images-area {
  padding: 40rpx 0;
}

.question-images-tool {
  display: flex;
  align-items: center;
}

.question-images {
  display: flex;
  align-items: center;
  margin-top: 40rpx;
}

.q-image-wrap {
  width: 31%;
  margin-right: 10rpx;
}

.q-image {
  flex: 1;
  height: 200rpx;
  width: 100%;
}

.q-image-remover {
  text-align: center;
}
.login {
  width: 100%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  padding-top: 1rpx;
  .logo {
    width: 230rpx;
    height: 80rpx;
    background: url('https://coms.boyosoft.net/gangxiaoer/gapi/v2/images/logo-foo.png') no-repeat;
    background-size: 100% 100%;
    margin: 200rpx auto 0 auto;
  }
  .login-btn {
    text-align: center;
    background: #b4a078;
    width: 90%;
    height: 80rpx;
    line-height: 80rpx;
    color: #fff;
    font-size: 28rpx;
    margin-top: 300rpx;
  }

}
